h1{
    text-align: center;
}

table{
    margin: auto;
}

th, td {
    border: 1px solid;
  }

#bestSellerItemsContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.bestSellerItem{
    width: 30vw;
    height: fit-content;
}

button{
    display: block;
    margin: auto;
}