body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background-color: #94C973;

}

h1 {
  color: #2F5233;
}

h2 {
  color: #2F5233;
  text-align: center;
}

p {
  color: #2F5233;
}

.left-section {
  width: 250px;
  height: auto;
  border: 2px solid black;
}

#logo {
  width: inherit;
  width: 200px;
}

.side-menu {
  border-top: 2px solid black;
  display: flex;
  flex-direction: column;
}

.topnav {
  height: 25px;
  border: 2px solid black;
  margin-left: 20px;
  display: flex;
}

.page-wrapper {
  display: flex;
  flex-direction: row;
}

.nav-title {
  width: 525px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-right: 100px;
  margin-left: 450px;
}

.title-section {
  height: 100px;
  border: 2px solid black;
  margin-left: 200px;
  width: 200px;
}

#tab1 {
  font-size: 20px;
  text-align: left;
  margin-left: 5px;
}

#tab {
  font-size: 20px;
  border-left: 2px solid black;
  margin-left: 20px;
  padding-left: 5px;
}

.settings-section {
  font-size: 20px;
  text-align: center;
  margin-left: 70px;
}

.buttonwrapper{
  text-align: center;
}


.button {
  position: absolute;
  top: 50%;
}